.main-element {
  /*position: static;*/
  /*position: relative;*/
  /*position: absolute;*/
  left: 10px; /*Não vai fazer efeito no static */
  bottom: 10px;
  background-color: yellow;
  padding: 10px;
}
/*Apenas para forçar o rolamento de tela e testar o position: fixed;*/
.parent-element {
  position: relative;
  height: 100px;
  padding: 10px;
  background-color: #81adc8;
}
.sibling-element {
  padding: 10px;
  background-color: #f2f2f2;
}
