.main-element {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background-color: yellow;
  padding: 10px;
}
html {
  height: 800px;
}
.parent-element {
  position: relative;
  height: 100px;
  padding: 10px;
  background-color: #81adc8;
}
.sibling-element {
  padding: 10px;
  background-color: #f2f2f2;
}
