.linear-gradient-box {
  height: 200px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
.radial-gradient-box {
  height: 200px;
  background: radial-gradient(circle at center, red, yellow, green);
}
